@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800');

.intro {
  background-color: #e74c3c;
  color: white;
  padding: 400px 0 100px 0;
  background: linear-gradient( #34495e78,#34495e ), url(../goran.jpg);
  background-size: cover;
}

.intro p {
  font-size: 40px;
  font-weight: 200;
  /* text-align: justify; */
}

.intro span {
  font-weight: 300;
}

.note {
  background-color: #f1c40f;
  /* color: white; */
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  padding-top: 10px;
}

.work {
  background-color: #ecf0f1;
  color: #2c3e50;
  padding-top: 10px;
  padding-bottom: 10px;
}

.education {
  color: #ecf0f1;
  background-color: #2c3e50;
  padding-top: 10px;
  padding-bottom: 10px;
}

.education h,.education p, .education h4 {
  font-weight: 300;
}

.an-education {
  border: 1px solid #ecf0f1;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 20px;
}

.a-work {
  border: 1px solid #2c3e50;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 20px;
}
