@media only screen and (min-width: 992px){
.my-profile-container {
    padding: 45px 25% 20px 25% !important;
}
}

.my-profile-container {
    padding: 40px 5% 0 5%;
    background-color: #f8f8f8;
}

.tab_container2 {
  border: 1px solid #8dc63f;
}


.tab1-personal-details {
  padding: 40px 30px !important;
}

.pers-det-child span{
  margin-left: 10px;
}

.tab2-comeat-profile {
  padding: 40px 10% !important;
}
.tab3-host-info {
  padding: 40px 10% !important;
}

.address-child span{
  margin-left: 10px;
}

.house-information img {
  margin-top: 5px;
}
