
@media only screen and (min-width: 992px) {

.my-profile-container {
    padding: 40px 13% 20px 13% !important;
}
}

.my-profile-container {
    color: #777777;
    background-color: #f8f8f8;
    padding: 40px 5% 20px 5%;
}
