@media only screen and (max-width: 992px) {
  .mainselection {
    margin-top:11px;
  }

  .nav-right-side {
    margin-top: 15px;
  }
  .homepage-searchbar-item {
    border-bottom: 1px #dfdfdf solid;
  }

  #homepage-location-text {
    padding-left: 11px !important;
  }

  #right-right-nav {
    padding: 0;
  }


  #cancel-profile {
    margin-top: 20px;
  }

  #save-profile {
    margin-top: 20px;
  }

  #skip-profile {
    margin-top: 20px;
  }

  .create-profile-subcontainer {
    margin-top: 30px;
  }

  .seats-container {
    margin-top: 20px;
    margin-bottom: 40px !important;
  }

}



@media only screen and (min-width: 992px) {
    .header-padding {
      padding: 0 13% !important;
    }

    .how-it-works {
      padding: 25px 13% 35px 13%;
    }

    footer {
      padding: 25px 13% 5px 13%;
    }
    .create-profile-container, .create-profile-additional-container {
      padding: 40px 25% 20px 25% !important;
    }

    .host-registrarion-container{
      padding: 40px 13% 20px 13% !important;
    }




}




.header-background-image {
  background-image: url(../images/background-photo.png);
  background-size: cover;
  border-bottom: #89c656 1px solid;

}

.header-main {
  background-color: #f0f0f0;
  box-shadow: 0 5px 5px -2px #e8e8e8;
}

a {
  color: black;
}

.container-full {
  padding: 0 !important;
}

.white-semi-transparent-background {
  background-color: rgba(255, 248, 238, 0.7);
  /*padding-bottom: 10px;*/
  height: 100%;
  /*padding: 0 13%;*/
  /*padding-top: 10px;*/
}
.nav {
  height: auto;
  /*background-color: pink;*/

  padding: 15px 0;

  font-weight: 100;
}

#header-logo {
  float: left;
}

.inside-full-width{
  height: 100%;
  overflow: hidden;
}

.logo {
  text-align: center;
}

.logo img {
  height: auto;
  width: auto;
  margin: 5px 0;
}



.nav-right-side {
  padding: 0px 15px;
}



.mainselection {
  display: inline-block;
   overflow:hidden;
   border: 0;
   width: 30px;
   padding: 0px !important;
   /*text-align: center;*/
}


.mainselection select {
   border: 0;
   background-color: transparent !important;
   font-size: 14px;
   font-weight: 200;
   -webkit-appearance: none;
   width: 30px;
   /*height: 14px;*/
}

#currency {
  font-size: 14px;
  font-weight: 200;
}

.currency-nav {
  background:  url("../images/arrow-down.png") no-repeat scroll 15px center;
}

/*.currency-nav select {
padding: 2px 8px 2px 0px;

}*/

.language-nav {
  background: url("../images/arrow-down.png") no-repeat scroll 20px center;
}

.right-right-nav {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/*.language-nav select {
padding: 2px 0px;

}*/

.login-nav {
  display: inline-block;
  position: relative;
  /*top: -8px;*/
  /*margin-left: 30px;*/
    line-height: 30px;
  margin-top: 5px;
}
.login-nav a{
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.login-nav a:hover, .login-nav a:focus {
  color: black;
}




/* --------------------------------

xpopup

-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 999;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
padding: 20px;
  position: relative;
  width: 90%;
  max-width: 350px;
  margin: 220px auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}



.popup-tocontinue {
  font-size: 20px;
  font-weight: 200;
}

.popup-description {
  font-size: 15px;
  font-weight: 200;
}

.popup-comeat-logo {
  margin: 10px 0 15px 0;
}







.become-a-host {
  display: inline-block;
  position: relative;
  height: 40px;
  /*top: -10px;*/
  padding: 4px 0px;
  text-align: center;
  /*margin-left: 8px;*/
  border: 1px solid #89c656 !important;
  font-weight: 400;
  font-size: 18px;
  border-radius: 5px;
  padding-top: 6px;
}

.become-a-host:hover {
  cursor: pointer;
    text-decoration: none;
}

.become-a-host:focus {
    text-decoration: none;
}



.main-text {
  text-align: center;
  font-weight: 200;
  margin-top: 100px;
}

.main-text p:first-child {
  font-size: 54px;
}

.main-text p:nth-child(2) {
  font-size: 34px;
  color: #666666;
}

.searchbar-container {
    margin-top: 70px;
    margin-bottom: 85px;
}

#searchbar-header {
  font-size: 18px;
}

.searchbar {
  /*height: 55px;*/
  background-color: white;
  border-radius: 3px;
}

.searchbar .homepage-searchbar-item, .searchbar-submit {
  padding: 0;
  height: 55px;
}

.homepage-searchbar-location {
  border-right: 1px #dfdfdf solid;
}

.guest-data {
  padding-left: 0 !important;
  height: 55px;
}

/*////////////////////////////*/
.guest-property {
	position: relative;
	display: inline-block;
	/*margin: 1rem;*/
  height:100%;
  color:#888888;
}

.guest-property:hover {
	border:0;
	border-radius: .5rem;
}

.guest-property:hover input {
	border: none;
}

.guest-property input {
	border: 0;
  outline: 0;
	/*padding: .5rem;*/
	/*border-radius: .5rem;*/
  height: 100%;
}

.guest-property input:hover {
	border: 0;
}

.spinner {
	right: 15px;
	/*top: 6px;*/
	width: 15%;
	position: absolute;
	background: white;
	/*border-radius: .5rem;*/
	display: none;
	height: 100%;
}

.js .spinner {
	display: block;
}

/*.guest-property:hover .spinner {
	right: 0;
	top: 1px;
}*/

.button1 {
	position: relative;
	background: transparent;
	border: none;
	font-size: 2rem;
	padding: 0;
	display: block;
  color:#888888;
  font-weight: 100;
  font-size: 45px;
}

.button1:hover {
	color: gray;
}

.button1:active {
	color: darkgray
}

.up {
	transform: rotate(-90deg);
	top: -17px;
}

.down {
	transform: rotate(-90deg);
	top: -55px;
}
/*////////////////////////*/
.searchbar .homepage-searchbar-item > input {
  height: 100%;
  border: 0;
}

.homepage-input-icon {
  margin: 15px 12px;
}

.homepage-input-icon-unique {
  margin: 15px 10px;
  width: 26px;
  height: 26px;

}

.homepage-input-date-icon-container {
  min-width: 37px;
  color: red;
}


.homepage-aftericon-input {
  font-size: 16px;
  font-weight: 200;
  padding: 0 !important;
  outline: none;
}

.homepage-date {
  padding-left: 2px;
  color: #757575;
}

.homepage-date::-webkit-datetime-edit {
padding-left: 10px; }
/*.homepage-aftericon-input::-webkit-datetime-edit-fields-wrapper { width: 10px;}*/
.homepage-date::-webkit-datetime-edit-text {
  font-size: 20px;
  font-weight: 200;
}
/*.homepage-location-input::-webkit-datetime-edit-month-field { color: blue; }*/
/*.homepage-location-input::-webkit-datetime-edit-day-field { color: green; }*/
/*.homepage-location-input::-webkit-datetime-edit-year-field { color: purple; }*/
.homepage-date::-webkit-inner-spin-button { display: none; }
.searchbar-guest::-webkit-inner-spin-button { display: block;}
/*.homepage-date::-webkit-calendar-picker-indicator { background: orange; }*/

.homepage-location-container {
  border-right: 1px #dfdfdf solid;
}

.homepage-guest-container {
  border-left: 1px #dfdfdf solid;
}

.searchbar-guest {
  height: 100%;
  border-radius: 0;
  outline: 0;
  background-color: white;
  border: 0;

}


.searchbar-submit {
  background-color: #89c656;
  /*outline: 0;*/
  border: 0;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: center;
}


.how-it-works {
  color: grey;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 0px;
}

.how-it-works>p{
  font-size: 24px;
  font-weight: 200;
}

.how-piece {
  margin: 10px 0 40px 0;
  max-height: 190px;
}

.how-number {
  /*width: 30px;
  height: 30px;*/
  display: block;
  margin: 0 auto 15px auto;
}

.how-icon {
  /*height: 70px;
  width: 70px;*/
  margin-top: 10px;
  height: 70px;
}

.how-text {
  margin-top: 25px;
  font-size: 18px;
}


footer {
  padding-top: 25px;
  padding-bottom: 5px;
  border-top: 1px #89c656 solid;
  background-color: #4d5b5c;
}

ul {
  list-style: none;
  padding-left: 0;
}

.companies, .cities {
  font-weight: 300;
  font-size: 15px;
}

.companies a, .cities a {
  color: white;
}

.companies a, .cities a, .companies a:hover, .cities a:hover, .companies a:focus, .cities a:focus {
  color: #eaf2f3;
}


.companies ul li:first-child, .cities ul li:first-child, .stay-connected p:first-child {
  font-size: 19px;
  color: #8a9b9b;
  font-weight: 200;
  margin-top: 0;
}

.companies ul li, .cities ul li {
  margin: 10px 0;
}

.stay-connected {
  padding-left: 50px !important;
}

.stay-connected ul li img {
  /*width: 25px;
  height: 25px;*/
}

.stay-connected ul li {
  display: inline-block;
  margin: 10px 5px 0 0;
}

.subscribe {
  width: 230px;
}

.subscribe #input {
  width: 85%;
  height: 35px;
  float: left;
  border: 0;
  outline: none;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.25em;
  background-color: #344343;
  color: white;
  font-size: 12px;
}

.subscribe button {
  position: absolute;
  right: 0;
  width: 15%;
  height: 35px;
  border: 0;
  background: #89c656;
  //overflow: hidden;
  cursor: pointer;
  outline: none;
  transition: width 0.1s ease;
  left: 245px;

}

.divider {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 50;
  transform: translateY(-50%);
  width: 10px;
  height: 0;
  background: #ec1a01;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.subscribe #send {
  width: 58px;
}

.subscribe #send img {
  width: 25px;
  height: 25px;
}

.footer-of-footer{
  margin-top: 11px;
}

.footer-of-footer * {
  display: inline-block;
  font-size: 10px;
}

.footer-of-footer p:nth-child(2) {
  float: right;
}

.footer-of-footer a, .footer-of-footer {
  color: #8c9d9d;
}

.footer-of-footer p:first-child a {
  color: #89c656;
}


/*END OF STYLE FOR HOME PAGE*/



/*STARTING STYLE OF CREATE PROFILE PAGE*/
.mainheader-searchbar {
  padding: 0;
  height: 100%;
}

#mainheader-search-input {
  height: 100%;
  outline: 0;
  border: 0;
  text-align: right;
  font-size: 18px;
  margin: 15px auto;
  background-color: #f0f0f0;
}

#mainheader-search-icon-container {
  text-align: center;
}


#mainheader-search-icon {
  margin: 10px auto;
}

#meanheader-notification-icon {
  margin: 10px auto;
}

#mainheader-chat-icon {
  margin: 15px auto;
}
.mainheader-item {
  text-align: center;
}


.mainheader-border {
  margin: 9px auto;
  font-size: 24px;
  color: #b7b7b7;
  text-align: center;
}

.mainheader-profile {
  margin: 6px auto;
  cursor: pointer;
}

#mainheader-profile-picture{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 2px solid white;
}

#mainheader-profile-arrow{
  margin-top: 15px;
  height: 8px;
  width: 10px;
}



.create-profile-container, .create-profile-additional-container {
  padding: 40px 5% 20px 5%;
  color:#8c8c8c;
  font-weight: 200;
}

.create-profile-intro p:first-child{
  font-size: 24px;
  color: #274030;
  font-weight: 300;
}

.create-profile-intro p:nth-child(2), .create-profile-intro p:nth-child(3) {
  font-size: 18px;
}

.comeat-input {
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
  height: 45px;
  font-size: 18px;
  border-radius: 3px;
}

.comeat-input:hover{
  /*cursor: pointer;*/
}

.create-profile-item p {
  font-size: 15px;
}

.create-profile-item {
  margin-bottom: 20px;
}

#create-profile-input-fullname {
  background: #f8f8f8 url(../images/profile-icon.png) no-repeat scroll 15px 11px;
  padding-left:45px;
}

.create-profile-phone-code {
  width: 100%;
  height: 45px;
  padding: 5px 10px;
  border: 1px solid #e1e1e1;
  background-color: #f8f8f8;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: none;
}


.create-profile-phone-code-container {
  background-color: #f8f8f8 !important;
  height: 100%;
}

#create-profile-input-tel {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.create-profile-accept-terms input {

}

.create-profile-accept-terms p {
  display: inline-block;
  margin-left: 5px;
  font-size: 18px;
  vertical-align: sub;
}

.create-profile-accept-terms a {
  color: #8dc63f;
}

#submit-profile {
  background-color: #8dc63f;
  color: white;
  font-weight: 200;
  height: 40px;
}

#save-profile {
  background-color: #8dc63f;
  color: white;
  font-weight: 200;
  height: 40px;
}

#cancel-profile {
  background-color: white;
  border: 1px solid #8dc63f;
  height: 40px;
}

#skip-profile {
  background-color: white;
  border: 1px solid #8dc63f;
  height: 40px;
}

.create-profile-picture {
  text-align: center;
}

.create-profile-picture img {
  border-radius: 100px;
  border: 4px solid white;
  height: 130px;
  width: 130px;
  box-shadow: 0px 0px 15px 6px #e8e8e8;
}

.create-profile-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.create-profile-dateofbirth {
  margin: 20px 0 200px 0;
}
.create-profile-dateofbirth .create-profile-month {
  min-width: 95px;
}

.background-input-arrow1 {
  background: #f8f8f8 url('../images/arrow-down-grey.png') no-repeat 80% 15px;
}

.background-input-arrow2 {
  background: #f8f8f8 url('../images/arrow-down-grey.png') no-repeat 90% 15px;
}

.no-border-radius {
  border-radius: 0;
}

.no-border-radius-left {
  border-top-left-radius:  0;
  border-bottom-left-radius:  0;
}

.no-border-radius-right {
  border-top-right-radius:  0;
  border-bottom-right-radius:  0;
}


.padding-for-text-input {
  padding: 1px 15px;
}

#comeat-profile-textarea {
  height: 100px;
  padding: 5px;
  /*padding-right: 5px !important;*/
}

.create-profile-socialmedia span {
  font-size: 15px;
  color: #a7a7a7;
}

.create-profile-socialmedia>div {
  margin-top: 15px;
}






.ios-switch {
	position: absolute;
	opacity: 0;
  margin-top: 10px;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
	vertical-align: middle;
	width: 40px;	height: 20px;
	border: 1px solid #f8f8f8;
	border-radius: 999px;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
	/*margin: 15px 1.2em 15px 2.5em;*/
  margin-top: 10px;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
	width: 40px;
	background-position: 0 0;
	background-color: #3b89ec;
	border: 1px solid #0e62cd;
	box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div {
	width: 34px;	height: 18px;
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
	width: 50px;	height: 25px;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
	background-color: #00e359;
	border: 1px solid rgba(0, 162, 63,1);
	box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
	float: left;
	width: 18px; height: 18px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color, box-shadow;
	-moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-moz-transition-duration: 0.4s;
	-moz-transition-property: transform, background-color;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	margin-top: 1px;
	margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	-moz-transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
	width: 16px; height: 16px;
	margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(16px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div {
	width: 23px; height: 23px;
	margin-top: 1px;
}

/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(25px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1);
}







.create-profile-success {
  background-color: #f5f5f5;
  border: 1px solid #8dc63f;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
}


.success-header p{
  color: #8dc63f;
  font-size: 24px;
}

.success-description p{
  color: #8b8b8b;
  font-size: 15px;
}




/*END OF CREATE PROFILE STYLES*/


.size15 {
  font-size: 15px;
}

.size18 {
  font-size: 18px;
}

.size24 {
  font-size: 24px;
  font-weight: 300;
}




/*STARTING HOST REGISTRATION STYLE*/
.host-registrarion-container {
  padding: 40px 5% 20px 5%;
    color: #777777;
}

.host-registrarion-header p:first-child {
  font-size: 24px;
  font-weight: 300;
}

.host-registrarion-header p:nth-child(2) {
  font-size: 18px;
  font-weight: 200;
}

.host-reg-your-address {
}

.host-reg-address-description {
  color: #a7a7a7;
}

.host-reg-location-input {
  background:  url("../images/search-icon.png") no-repeat scroll 90%;
}

.host-reg-home-location {
  margin-top: 25px;
}

.host-reg-house-information {
  margin-top: 25px;
}

.background-input-arrow3 {
  background: #f8f8f8 url('../images/arrow-down-grey.png') no-repeat 90% 15px;
  -webkit-appearance: none;
}

.house-info-item {
  margin-top: 25px;
}

#save-profile-host-reg {
  background-color: #8dc63f;
  color: white;
  font-weight: 200;
  height: 40px;
  border:0;
  margin-top: 30px;
}


.host-reg-number-seats {
  height: 45px;
  width: 70px;
  border-radius: 3px;
  background-color: #f8f8f8;
  text-align: center;
  padding-top: 10px;
}

.host-reg-seat-comeat-logo {
  height: 105px;
  width: 105px;
  background-color: white;
  border: 5px solid #8dc63f;
  border-radius: 100px;
  text-align: center;

}

.host-reg-seat-comeat-logo img{
  height: 45px;
  width: 80px;
  margin-top: 20px;
}

.host-reg-choose-seat .a-seat {
  height: 45px;
  width: 35px;
  background-color: #c0c0c0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.host-reg-choose-seat{
  margin-top: -20px;
}

.seats-container {
  /*margin-bottom: 275px;*/
  margin-top: 26px;
}

.a-seat-border {
  border-radius: 500px;
  height: 60px;
  width: 88px;
  padding: 5px 0 0 45px;
  border: 3px solid green;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
  z-index: 9999;
}

.seat1 {
  margin: -2px 0 0 52px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(-30deg);
}

.seat2 {
      margin: 48px 0 0 52px;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(33deg);

}

.seat3 {
  margin: 72px 0 0 10px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(90deg);
}

.seat4 {
  margin: 48px 0 0 -34px;
-ms-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
transform: rotate(146deg);
}

.seat5 {
  margin: -2px 0 0 -36px;
-ms-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
transform: rotate(211deg);
}

.seat6 {
  margin: -28px 0 0 8px;
-ms-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
transform: rotate(270deg);
}


/*seat checkbox style*/
.hide-checkbox + label {
display: block;
float: left;
width: 50px;
padding: 2px 0;
text-align: center;
background-color: #e74c3c;
font-family: 'Oswald', sans-serif;
color: #fff;
}

.hide-checkbox:checked + label {
display: inline-block;
background-color: #7baf33;
border-right: 7px solid #4e7617;
border-top: 7px solid #4e7617;
border-bottom: 7px solid #4e7617;
}

#transparent-text {
  color: rgba(0,0,0,0);
}
/*end of seat checkbox style*/


.margin-top25 {
  margin-top: 25px;
}

.margin-top40 {
  margin-top: 40px;
}

.invitation-text {
  margin-top: 25px;
}


.grey-text {
  color: #777777;
}

.light-grey-text {
  color: #acacac;
}


#submit-dinner-info-host-reg {
  background-color: #8dc63f;
  color: white;
  font-weight: 200;
  height: 40px;
  border:0;
  /*margin-top: 30px;*/
}

#cancel-dinner-info {
  background-color: white;
  border: 1px solid #8dc63f;
  height: 40px;
}

.host-reg-invitation-text textarea {
  border: 1px solid grey;
}



/*style for photo upload drag and drop*/




.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  border: 3px dashed #e6e6e6;
  position: relative;
  height: 95px;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #f0f0f0;
  border: 4px dashed #8dc63f;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
  height: 100%;
  width: 100%;
}

.drag-text img {
  color: #15824B;
  width:40%;
  height: 40%;
  margin-top: 25px;
}

.file-upload-image {
  width: 100%;
  height: 100%;
  margin: auto;
}

.remove-image {
  width: 10px;
  margin-top: -10px;
  color: #fff;
  border: none;
  /*border-radius: 4px;*/
  /*border-bottom: 4px solid #b02818;*/
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  border: 1px solid black;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

/*end of style for photo upload drag and drop*/


/*style for slideshow*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

.carousel-control.left, .carousel-control.right {
  background-image: none !important;
}

.review-slideshow {
  padding: 55px 20%;
  background-color: #fcfcfc;
}
  /*end of style for slideshow*/
