@media only screen and (max-width: 992px) {
  .mainselection {
    margin-top:11px;
  }

  .nav-right-side {
    margin-top: 15px;
  }
  .homepage-searchbar-item {
    border-bottom: 1px #dfdfdf solid;
  }

  #homepage-location-text {
    padding-left: 11px !important;
  }

  #right-right-nav {
    padding: 0;
  }


  #cancel-profile {
    margin-top: 20px;
  }

  #save-profile {
    margin-top: 20px;
  }

  #skip-profile {
    margin-top: 20px;
  }

  .create-profile-subcontainer {
    margin-top: 30px;
  }

  .seats-container {
    margin-top: 20px;
    margin-bottom: 40px !important;
  }

  .review-slideshow {
    padding: 55px 2% 10px 2% !important;
  }

  .subscribe {
    display: none;
  }


  .open-message-container {
    margin-left: 0 !important;
  }

  .date-and-people-container {
    display: none !important;
  }

  .profile-picture-of-message-container {
    width: 30% !important;
  }
  .message-item .text-container {
    width: 65% !important;
  }

  .squares-for-popup {
    display: block !important;
    margin: 5px auto  !important;
  }

  .invite-popup {
    width: 95%  !important;
    height: 92%  !important;
  }

  .the-weird-background2 {
    border-top: 280px solid #b8b8b8  !important;
    border-bottom: 330px solid #c0c0c0  !important;
    border-right: 200px solid #cecece  !important;
    border-left: 200px solid #c0c0c0  !important;
  }

  .content-on-weird-background2 {
      top: -585px !important;
  }

  .report-user-messages-popup {
    padding: 10px 20px !important;
    width: 95% !important;
    height: 545px !important;
  }

  .report-button2 {
    width: 45% !important;
  }

  .the-weird-background {
    border-top: 180px solid #b8b8b8 !important;
    border-bottom: 160px solid #c0c0c0 !important;
    border-right: 135px solid #cecece !important;
    border-left: 135px solid #c0c0c0 !important;
  }

  .content-on-weird-background {
    top: -310px !important;
  }

  #message-item {
    padding: 15px 5px !important;
  }

  .activeness-indicator {
    left: 60px !important;
  }

}



@media only screen and (min-width: 992px) {
    .header-padding {
      padding: 0 13% !important;
    }

    .how-it-works {
      padding: 25px 13% 35px 13%;
    }

    footer {
      padding: 25px 13% 5px 13%;
    }
    .create-profile-container, .create-profile-additional-container {
      padding: 40px 25% 20px 25% !important;
    }

    .request-booking-container {
      padding: 40px 20% 20px 20% !important;
    }

    .host-registrarion-container{
      padding: 40px 13% 20px 13% !important;
    }

    .hostreg-payoutinfo-container {
      padding: 40px 25% 20px 25% !important;

    }

    .hostreg-calendar-container {
      padding: 40px 25% 60px 25% !important;

    }

    .search-result-container {
      padding: 45px 13% 20px 13% !important;
    }
    .host-profile-container {
      padding: 45px 13% 20px 13% !important;
    }


    .container-of-tabs-for-host-profile {
      min-width: 930px;
    }



}


body {
  font-family: 'Muli', sans-serif;
  background-color: #f8f8f8;
}

.header-background-image {
  background-image: url(../images/background-photo.png);
  background-size: cover;
  border-bottom: #89c656 1px solid;

}

.header-main {
  background-color: #f0f0f0;
  box-shadow: 0 5px 5px -2px #e8e8e8;
}

a {
  color: black;
}

.container-full {
  padding: 0 !important;
}

.white-semi-transparent-background {
  background-color: rgba(255, 248, 238, 0.7);
  /*padding-bottom: 10px;*/
  height: 100%;
  /*padding: 0 13%;*/
  /*padding-top: 10px;*/
}
.nav {
  height: auto;
  /*background-color: pink;*/

  padding: 15px 0;

  font-weight: 100;
}

#header-logo {
  float: left;
}

.inside-full-width{
  height: 100%;
  overflow: hidden;
}

.logo {
  text-align: center;
}

.logo img {
  height: auto;
  width: auto;
  margin: 5px 0;
}



.nav-right-side {
  padding: 0px 15px;
}



.mainselection {
  display: inline-block;
   overflow:hidden;
   border: 0;
   width: 30px;
   padding: 0px !important;
   /*text-align: center;*/
}


.mainselection select {
   border: 0;
   background-color: transparent !important;
   font-size: 14px;
   font-weight: 200;
   -webkit-appearance: none;
   -moz-appearance: none;

   width: 30px;
   /*height: 14px;*/
}

#currency {
  font-size: 14px;
  font-weight: 200;
}

.currency-nav {
  background:  url("../images/arrow-down.png") no-repeat scroll 15px center;
}

/*.currency-nav select {
padding: 2px 8px 2px 0px;

}*/

.language-nav {
  background: url("../images/arrow-down.png") no-repeat scroll 20px center;
}

.right-right-nav {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/*.language-nav select {
padding: 2px 0px;

}*/

.login-nav {
  display: inline-block;
  position: relative;
  /*top: -8px;*/
  /*margin-left: 30px;*/
  line-height: 30px;
  /*margin-top: 5px;*/
  background-color: #8dc63f;
  border-radius: 5px;
  text-align: center;
  height: 40px;
}
.login-nav a{
  color: white;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: 5px;
}

.login-nav a:hover, .login-nav a:focus {
  color: white;
}


.drop-profile-items {
  position: absolute;
  background-color: #ffffff;
  top: 50px;
  right: 20px;
  box-shadow: 0px 0px 5px 1px rgba(113, 113, 113, 0.16);
  padding: 10px 15px;
  width: 150px;
}

.drop-profile-items a:hover {
}

.drop-profile-items ul li{
  padding-bottom: 5px;
  font-weight: 400;
  color: #727272;
  padding-left: 5px;
}

.profile-dropdown-active {
  color: #8dc63f !important;
}

.nav-profile-dropdown-becomeahost {
  border: 1px solid #8dc63f;
  border-radius: 10px;
  color: #2f2f2f !important;
  /*text-decoration: center;*/
  padding: 2px 0 0 3px;
}


.nav-profile-dropdown-logout {
  color: #a0a0a0 !important;

  padding-left: 5px;
}


/* --------------------------------

xpopup

-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 999;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
padding: 20px;
  position: relative;
  width: 90%;
  max-width: 350px;
  margin: 220px auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}



.popup-tocontinue {
  font-size: 20px;
  font-weight: 200;
}

.popup-description {
  font-size: 15px;
  font-weight: 200;
}

.popup-comeat-logo {
  margin: 10px 0 15px 0;
}







.become-a-host {
  display: inline-block;
  position: relative;
  height: 40px;
  /*top: -10px;*/
  padding: 4px 0px;
  text-align: center;
  /*margin-left: 8px;*/
  border: 1px solid #89c656 !important;
  font-weight: 400;
  font-size: 18px;
  border-radius: 5px;
  padding-top: 6px;
}

.become-a-host:hover {
  cursor: pointer;
    text-decoration: none;
}

.become-a-host:focus {
    text-decoration: none;
}



.main-text {
  text-align: center;
  font-weight: 200;
  margin-top: 100px;
}

.main-text p:first-child {
  font-size: 54px;
}

.main-text p:nth-child(2) {
  font-size: 34px;
  color: #666666;
}

.searchbar-container {
    margin-top: 70px;
    margin-bottom: 85px;
}

#searchbar-header {
  font-size: 18px;
}

.searchbar {
  /*height: 55px;*/
  background-color: white;
  border-radius: 3px;
}

.searchbar .homepage-searchbar-item, .searchbar-submit {
  padding: 0;
  height: 55px;
}

.homepage-searchbar-location {
  border-right: 1px #dfdfdf solid;
}

.guest-data {
  padding-left: 0 !important;
  height: 55px;
}

/*////////////////////////////*/
.guest-property {
	position: relative;
	display: inline-block;
	/*margin: 1rem;*/
  height:100%;
  color:#888888;
}

.guest-property:hover {
	border:0;
	border-radius: .5rem;
}

.guest-property:hover input {
	border: none;
}

.guest-property input {
	border: 0;
  outline: 0;
	/*padding: .5rem;*/
	/*border-radius: .5rem;*/
  height: 100%;
}

.guest-property input:hover {
	border: 0;
}

.spinner {
	right: 15px;
	/*top: 6px;*/
	width: 15%;
	position: absolute;
	background: white;
	/*border-radius: .5rem;*/
	display: none;
	height: 100%;
}

.js .spinner {
	display: block;
}

/*.guest-property:hover .spinner {
	right: 0;
	top: 1px;
}*/

.button1 {
	position: relative;
	background: transparent;
	border: none;
	font-size: 2rem;
	padding: 0;
	display: block;
  color:#888888;
  font-weight: 100;
  font-size: 45px;
}

.button1:hover {
	color: gray;
}

.button1:active {
	color: darkgray
}

.up {
	transform: rotate(-90deg);
	top: -17px;
}

.down {
	transform: rotate(-90deg);
	top: -55px;
}
/*////////////////////////*/
.searchbar .homepage-searchbar-item > input {
  height: 100%;
  border: 0;
}

.homepage-input-icon {
  margin: 15px 12px;
}

.homepage-input-icon-unique {
  margin: 15px 10px;
  width: 26px;
  height: 26px;

}

.homepage-input-date-icon-container {
  min-width: 37px;
  color: red;
}


.homepage-aftericon-input {
  font-size: 16px;
  font-weight: 200;
  padding: 0 !important;
  outline: none;
}

.homepage-date {
  padding-left: 2px;
  color: #757575;
}

.homepage-date::-webkit-datetime-edit {
padding-left: 10px; }
/*.homepage-aftericon-input::-webkit-datetime-edit-fields-wrapper { width: 10px;}*/
.homepage-date::-webkit-datetime-edit-text {
  font-size: 20px;
  font-weight: 200;
}
/*.homepage-location-input::-webkit-datetime-edit-month-field { color: blue; }*/
/*.homepage-location-input::-webkit-datetime-edit-day-field { color: green; }*/
/*.homepage-location-input::-webkit-datetime-edit-year-field { color: purple; }*/
.homepage-date::-webkit-inner-spin-button { display: none; }
.searchbar-guest::-webkit-inner-spin-button { display: block;}
/*.homepage-date::-webkit-calendar-picker-indicator { background: orange; }*/

.homepage-location-container {
  border-right: 1px #dfdfdf solid;
}

.homepage-guest-container {
  border-left: 1px #dfdfdf solid;
}

.searchbar-guest {
  height: 100%;
  border-radius: 0;
  outline: 0;
  background-color: white;
  border: 0;

}


.searchbar-submit {
  background-color: #89c656;
  /*outline: 0;*/
  border: 0;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: center;
}


.how-it-works {
  color: grey;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 0px;
}

.how-it-works>p{
  font-size: 24px;
  font-weight: 200;
}

.how-piece {
  margin: 10px 0 40px 0;
  max-height: 190px;
}

.how-number {
  /*width: 30px;
  height: 30px;*/
  display: block;
  margin: 0 auto 15px auto;
}

.how-icon {
  /*height: 70px;
  width: 70px;*/
  margin-top: 10px;
  height: 70px;
}

.how-text {
  margin-top: 25px;
  font-size: 18px;
}


footer {
  padding-top: 25px;
  padding-bottom: 5px;
  border-top: 1px #89c656 solid;
  background-color: #4d5b5c;
}

ul {
  list-style: none;
  padding-left: 0;
}

.companies, .cities {
  font-weight: 300;
  font-size: 15px;
}

.companies a, .cities a {
  color: white;
}

.companies a, .cities a, .companies a:hover, .cities a:hover, .companies a:focus, .cities a:focus {
  color: #eaf2f3;
}


.companies ul li:first-child, .cities ul li:first-child, .stay-connected p:first-child {
  font-size: 19px;
  color: #8a9b9b;
  font-weight: 200;
  margin-top: 0;
}

.companies ul li, .cities ul li {
  margin: 10px 0;
}

.stay-connected {
  padding-left: 50px !important;
}

.stay-connected ul li img {
  /*width: 25px;
  height: 25px;*/
}

.stay-connected ul li {
  display: inline-block;
  margin: 10px 5px 0 0;
}

.subscribe {
  width: 230px;
}

.subscribe #input {
  width: 85%;
  height: 35px;
  float: left;
  border: 0;
  outline: none;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.25em;
  background-color: #344343;
  color: white;
  font-size: 12px;
}

.subscribe button {
  position: absolute;
  right: 0;
  width: 15%;
  height: 35px;
  border: 0;
  background: #89c656;
  //overflow: hidden;
  cursor: pointer;
  outline: none;
  transition: width 0.1s ease;
  left: 245px;

}

.divider {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 50;
  transform: translateY(-50%);
  width: 10px;
  height: 0;
  background: #ec1a01;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.subscribe #send {
  width: 58px;
}

.subscribe #send img {
  width: 25px;
  height: 25px;
}

.footer-of-footer{
  margin-top: 11px;
}

.footer-of-footer * {
  display: inline-block;
  font-size: 10px;
}

.footer-of-footer p:nth-child(2) {
  float: right;
}

.footer-of-footer a, .footer-of-footer {
  color: #8c9d9d;
}

.footer-of-footer p:first-child a {
  color: #89c656;
}


/*END OF STYLE FOR HOME PAGE*/



/*STARTING STYLE OF CREATE PROFILE PAGE*/
.mainheader-searchbar {
  padding: 0;
  height: 100%;
}

#mainheader-search-input {
  height: 100%;
  outline: 0;
  border: 0;
  text-align: right;
  font-size: 18px;
  margin: 15px auto;
  background-color: #f0f0f0;
}

#mainheader-search-icon-container {
  text-align: center;
}


#mainheader-search-icon {
  margin: 10px auto;
}

#meanheader-notification-icon {
  margin: 10px auto;
}

#mainheader-chat-icon {
  margin: 15px auto;
}
.mainheader-item {
  text-align: center;
}


.mainheader-border {
  margin: 9px auto;
  font-size: 24px;
  color: #b7b7b7;
  text-align: center;
}

.mainheader-profile {
  margin: 6px auto;
  cursor: pointer;
}

#mainheader-profile-picture{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 2px solid white;
}

#mainheader-profile-arrow{
  margin-top: 15px;
  height: 8px;
  width: 10px;
}



.create-profile-container, .create-profile-additional-container {
  padding: 40px 5% 20px 5%;
  color:#8c8c8c;
  font-weight: 200;
}


.request-booking-container {
  padding: 40px 5% 20px 5%;
  color:#8c8c8c;
  font-weight: 200;
}

.create-profile-intro p:first-child{
  font-size: 24px;
  color: #274030;
  font-weight: 300;
}

.create-profile-intro p:nth-child(2), .create-profile-intro p:nth-child(3) {
  font-size: 18px;
}

.comeat-input {
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
  height: 45px;
  font-size: 18px;
  border-radius: 5px;
}

.comeat-input:hover{
  /*cursor: pointer;*/
}

.create-profile-item p {
  font-size: 15px;
}

.create-profile-item {
  margin-bottom: 20px;
}

#create-profile-input-fullname {
  background: #f8f8f8 url(../images/profile-icon.png) no-repeat scroll 15px 11px;
  padding-left:45px;
}

.create-profile-phone-code {
  width: 100%;
  height: 45px;
  padding: 5px 10px;
  border: 1px solid #e1e1e1;
  background-color: #f8f8f8;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: none;
}


.create-profile-phone-code-container {
  background-color: #f8f8f8 !important;
  height: 100%;
}

#create-profile-input-tel {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.create-profile-accept-terms input {

}

.create-profile-accept-terms p {
  display: inline-block;
  margin-left: 5px;
  font-size: 18px;
  vertical-align: sub;
}

.create-profile-accept-terms a {
  color: #8dc63f;
}

/*.create-profile-accept-notification input {
  display: inline-block;

}

.create-profile-accept-notification p {
  display: inline-block;
  margin-left: 5px;
  /*font-size: 18px;*/
  /*vertical-align: sub;
}

.create-profile-accept-notification a {
  color: #8dc63f;
}*/

.margin-top0 {
  margin-top: 0 !important;
}

#submit-profile {
  background-color: #8dc63f;
  color: white;
  font-weight: 200;
  height: 40px;
}

#save-profile {
  background-color: #8dc63f;
  color: white;
  font-weight: 200;
  height: 40px;
}

#cancel-profile {
  background-color: white;
  border: 1px solid #8dc63f;
  height: 40px;
}

#skip-profile {
  background-color: white;
  border: 1px solid #8dc63f;
  height: 40px;
}

.create-profile-picture {
  text-align: center;
}

.create-profile-picture img {
  border-radius: 100px;
  border: 4px solid white;
  height: 130px;
  width: 130px;
  box-shadow: 0px 0px 15px 6px #e8e8e8;
}

.create-profile-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.request-booking-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.create-profile-dateofbirth {
  margin: 20px 0 200px 0;
}
.create-profile-dateofbirth .create-profile-month {
  min-width: 95px;
}

.background-input-arrow1 {
  background: #f8f8f8 url('../images/arrow-down-grey.png') no-repeat 80% 15px;
}

.background-input-arrow2 {
  background: #f8f8f8 url('../images/arrow-down-grey.png') no-repeat 90% 15px;
}

.no-border-radius {
  border-radius: 0;
}

.no-border-radius-left {
  border-top-left-radius:  0;
  border-bottom-left-radius:  0;
}

.no-border-radius-right {
  border-top-right-radius:  0;
  border-bottom-right-radius:  0;
}


.padding-for-text-input {
  padding: 1px 15px;
}

#comeat-profile-textarea {
  height: 100px;
  padding: 5px;
  /*padding-right: 5px !important;*/
}

.create-profile-socialmedia span {
  font-size: 15px;
  color: #a7a7a7;
}

.create-profile-socialmedia>div {
  margin-top: 15px;
}






.ios-switch {
	position: absolute;
	opacity: 0;
  margin-top: 10px;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
	vertical-align: middle;
	width: 40px;	height: 20px;
	border: 1px solid #f8f8f8;
	border-radius: 999px;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
	/*margin: 15px 1.2em 15px 2.5em;*/
  margin-top: 10px;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
	width: 40px;
	background-position: 0 0;
	background-color: #3b89ec;
	border: 1px solid #0e62cd;
	box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div {
	width: 34px;	height: 18px;
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
	width: 50px;	height: 25px;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
	background-color: #00e359;
	border: 1px solid rgba(0, 162, 63,1);
	box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
	float: left;
	width: 18px; height: 18px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color, box-shadow;
	-moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-moz-transition-duration: 0.4s;
	-moz-transition-property: transform, background-color;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	margin-top: 1px;
	margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	-moz-transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
	width: 16px; height: 16px;
	margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(16px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div {
	width: 23px; height: 23px;
	margin-top: 1px;
}

/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(25px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1);
}







.create-profile-success {
  background-color: #f5f5f5;
  border: 1px solid #8dc63f;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
}


.success-header p{
  color: #8dc63f;
  font-size: 24px;
}

.success-description p{
  color: #8b8b8b;
  font-size: 15px;
}




/*END OF CREATE PROFILE STYLES*/


.size15 {
  font-size: 15px;
}

.size18 {
  font-size: 18px;
}

.size24 {
  font-size: 24px;
  font-weight: 300;
}




/*STARTING HOST REGISTRATION STYLE*/
.host-registrarion-container {
  padding: 40px 5% 20px 5%;
    color: #777777;
}

.host-registrarion-header p:first-child {
  font-size: 24px;
  font-weight: 300;
}

.host-registrarion-header p:nth-child(2) {
  font-size: 18px;
  font-weight: 200;
}

.host-reg-your-address {
}

.host-reg-address-description {
  color: #a7a7a7;
}

.host-reg-location-input {
  background:  url("../images/search-icon.png") no-repeat scroll 90%;
}

.host-reg-home-location {
  margin-top: 25px;
}

.host-reg-house-information {
  margin-top: 25px;
}

.background-input-arrow3 {
  background: #f8f8f8 url('../images/arrow-down-grey.png') no-repeat 90% 15px;
  -webkit-appearance: none;
}

.house-info-item {
  margin-top: 25px;
}

#save-profile-host-reg {
  background-color: #8dc63f;
  color: white;
  font-weight: 200;
  height: 40px;
  border:0;
  margin-top: 30px;
}


.host-reg-number-seats {
  height: 45px;
  width: 70px;
  border-radius: 3px;
  background-color: #f8f8f8;
  text-align: center;
  padding-top: 10px;
}

.host-reg-seat-comeat-logo {
  height: 105px;
  width: 105px;
  background-color: white;
  border: 5px solid #8dc63f;
  border-radius: 100px;
  text-align: center;

}

.host-reg-seat-comeat-logo img{
  height: 45px;
  width: 80px;
  margin-top: 20px;
}

.host-reg-choose-seat .a-seat {
  height: 45px;
  width: 35px;
  background-color: #c0c0c0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.host-reg-choose-seat{
  margin-top: -20px;
}

.seats-container {
  /*margin-bottom: 275px;*/
  margin-top: 26px;
}

.a-seat-border {
  border-radius: 500px;
  height: 60px;
  width: 88px;
  padding: 5px 0 0 45px;
  border: 3px solid green;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
  z-index: 9999;
}

.seat1 {
  margin: -2px 0 0 52px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(-30deg);
}

.seat2 {
      margin: 48px 0 0 52px;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(33deg);

}

.seat3 {
  margin: 72px 0 0 10px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(90deg);
}

.seat4 {
  margin: 48px 0 0 -34px;
-ms-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
transform: rotate(146deg);
}

.seat5 {
  margin: -2px 0 0 -36px;
-ms-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
transform: rotate(211deg);
}

.seat6 {
  margin: -28px 0 0 8px;
-ms-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
transform: rotate(270deg);
}


/*seat checkbox style*/
.hide-checkbox + label {
display: block;
float: left;
width: 50px;
padding: 2px 0;
text-align: center;
background-color: #e74c3c;
font-family: 'Oswald', sans-serif;
color: #fff;
}

.hide-checkbox:checked + label {
display: inline-block;
background-color: #7baf33;
border-right: 7px solid #4e7617;
border-top: 7px solid #4e7617;
border-bottom: 7px solid #4e7617;
}

#transparent-text {
  color: rgba(0,0,0,0);
}
/*end of seat checkbox style*/


.margin-top25 {
  margin-top: 25px;
}

.margin-top40 {
  margin-top: 40px;
}

.invitation-text {
  margin-top: 25px;
}


.grey-text {
  color: #777777;
}

.light-grey-text {
  color: #acacac;
}


#submit-dinner-info-host-reg {
  background-color: #8dc63f;
  color: white;
  font-weight: 200;
  height: 40px;
  border:0;
  /*margin-top: 30px;*/
}

#cancel-dinner-info {
  background-color: white;
  border: 1px solid #8dc63f;
  height: 40px;
}

.host-reg-invitation-text textarea {
  border: 1px solid grey;
}



/*style for photo upload drag and drop*/




.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  border: 3px dashed #e6e6e6;
  position: relative;
  height: 95px;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #f0f0f0;
  border: 4px dashed #8dc63f;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
  height: 100%;
  width: 100%;
}

.drag-text img {
  color: #15824B;
  width:40%;
  height: 40%;
  margin-top: 25px;
}

.file-upload-image {
  width: 100%;
  height: 100%;
  margin: auto;
}

.remove-image {
  width: 10px;
  margin-top: -10px;
  color: #fff;
  border: none;
  /*border-radius: 4px;*/
  /*border-bottom: 4px solid #b02818;*/
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  border: 1px solid black;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

/*end of style for photo upload drag and drop*/


.size34 {
  font-size: 34px;
}

.review-header1 {
  color: #555555;
  text-align: center;
  font-weight: 200;
}

.review-header2 {
  color: #797979;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
}

/*style for slideshow*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

.carousel-control.left, .carousel-control.right {
  background-image: none !important;
}

.review-slideshow {
  padding: 55px 20% 10px 20%;
  background-color: #fcfcfc;
  box-shadow: inset 0px 1px 10px 0px rgba(109, 109, 109, 0.2);
}

.carousel {
  margin-top: 30px;
  padding-bottom: 100px;
}

.item {
  /*height: 200px;*/
}

.carousel-control  {
  width: 5%;
}

.slideshow-item {
  text-align: center;
    padding: 5px 15%;
    font-weight: 200;
}

.slideshow-item-reviewer img {
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 5px solid white;
  border-radius: 50px;
  box-shadow: 0 0px 12px 5px #e8e8e8;
}

.reviewer-name-from span {
  color: #8dc63f;
}

.reviewer-name-from {
  color: #777777;
  display: inline-block;
  text-align: left;
  /*padding: 10px;*/
}

.reviewer-name-from p {
  position: relative;
  top: 20px;
  left: 15px;
}

.slideshow-item-content p {
  font-style: italic;
  margin-top: 30px;
}

.slideshow-item-content img {
  position: relative;
  top: -20px;
  width: 33px;
  height: 25px;
}

.carousel-indicators {
  /*background-color: red;*/
}

.carousel-indicators .active {
  background-color: #8dc63f;
  height: 16px;
  width:16px;
}

.carousel-indicators li {
  border: 3px solid white;
  box-shadow: 0 0px 1px 1px #d0d0d0;
  background-color: #d0d0d0;
  height: 16px;
  width:16px;
}
  /*end of style for slideshow*/



  /*END OF STYLE FOR HOST REGISTRATION*/

  /*STARTING STYLE FOR HOST REGISTRATION PAYOUT INFO*/

.hostreg-payoutinfo-container {
    padding: 40px 5% 20px 5%;
}

.comeat-header-text {
  font-size: 24px;
  color: #274030;
  font-weight: 300;
}

.comeat-subheader-text {
  font-size: 18px;
  color: #888888;
  font-weight: 300;
}

.margin-bottom40 {
  margin-bottom: 40px;
}

.comeat-green{
  color: #8dc63f;
}

.comeat-green:hover{
  color: #8dc63f;
}

#submit-payout {
  background-color: #8dc63f;
  color: white;
  font-weight: 200;
  height: 40px;
}

#cancel-payout {
  background-color: white;
  border: 1px solid #8dc63f;
  height: 40px;
}

.margin-top15 {
  margin-top: 15px;
}

/*END OF STYLE FOR HOST REGISTRATION PAYOUT PAGE*/


/*STARTING STYLE FOR HOST REGISTRATION CALENDAR PAGE*/

.hostreg-calendar-container {
    padding: 40px 5% 20px 5%;
}

.margin-top30 {
  margin-top: 30px;
}

.font-weight300 {
  font-weight: 300;
}
.font-weight200 {
  font-weight: 200;
}

.calendar-page-calendar {
  height: 300px;
  text-align: center;
  border: grey 1px dashed;
}

.hostreg-calendar-container select  {
  color: #777777;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/arrow-down.png) no-repeat 98% 50%;
}

select.comeat-input {
  background: url(../images/arrow-down.png) no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f8f8f8;
}

#save-calendar {
  background-color: #8dc63f;
  color: white;
  font-weight: 200;
  height: 40px;
}

#skip-calendar {
  background-color: white;
  border: 1px solid #8dc63f;
  height: 40px;
}


/*END OF STYLE FOR REGISTRATION CALENDAR PAGE*/

/*STARTING STYLE FOR SEARCH RESULT PAGE*/

.search-result-container {
  padding: 40px 5% 0 5%;
  background-color: #f8f8f8;
}

.white-background {
  background-color: white !important
}

.filters-container {
  border: 1px solid #dddddd;
  background-color: white;
  color: #7e7e7e;
  padding-bottom: 20px;
}

.size20 {
  font-size: 20px;
}

.filter-input-item {
  height: 35px;
  border: 1px solid #dddddd;
  border-left-width: 0;
  border-right-width: 0;
  height: 35px;

}

.filter-search-input-left-item-img-container {
  display: inline-block;
  padding: 0px;
  border: 1px solid #dddddd;
  border-right-width: 0;
  height: 35px;
  background-color: white;
  padding: 4px;
}

.filter-search-input-left-item-img-container img {
  height: 23px;
  width: 23px;
}

.filter-search-input-item > div {
  display: inline-block;
}


.filter-search-input-right-item-img-container {
  /*display: inline-block;*/
  padding: 0px;
  border: 1px solid #dddddd;
  border-left-width: 0;
  height: 35px;
  background-color: white;
  padding: 5px 10px;
}

.filter-search-input-right-item-img-container img {
  height: 15px;
  width: 15px;
}

.margin-up-down-5 {
  margin: 5px 0;
}

.filter-search-input-dropdown {
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background: url('../images/arrow-down-grey.png')  no-repeat 95% 15px;
}

.filter-search-input-dropdown2 {
  height: 45px;
}

.filter-search-input-dropdown2>* {
  height: 100%;
}

.left-side-border-and-some-padding {
  border-left-width: 1px;
  padding-left: 15px !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.left-side-border-and-some-padding:focus {
  outline: 0;
}

.left-side-border-and-some-padding2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
    padding: 10px 10px !important;
}

.search-filter-host-age {
  border: 1px solid #dddddd;
}

.search-filter-host-age input[range]{
  margin-top: 15px;
}

#filter-search-result-button {
  background-color: #959595;
  height: 45px;
  border: 0;
  box-shadow: 0 0 10px 2px rgba(75, 75, 75, 0.15);
  border-radius: 50px;
  color: white;
}

#filter-search-result-button:visited {
  background-color: #8dc63f !important;
}

.search-result-your-selected-filter {
  background-color: #8dc63f;
  border-radius: 50px;
  padding: 7px 10px;
  color: white;
  font-weight: 200;
  display: inline-block;
  margin-bottom: 5px;
}

.search-result-your-selected-filter img {
  vertical-align: baseline;
  margin-left: 5px;
}

.margin-top10 {
  margin-top: 10px;
}

#search-result-header-text {
  font-size: 24px;
  color: #314c31;
}

.view-more-filter {
  text-align: center;
}

.view-more-filter-link{
  text-decoration: underline;
}
.view-more-filter-link:focus {
  color: #8dc63f;
}

.accordion-toggle {cursor: pointer;}
  .accordion-content {display: none;}
  .accordion-content.default {display: block;}


.search-result-sort-by-container {
  background-color: rgba(255, 0, 0, 0);
  border: 0;
  outline: 0;
  padding-left: 10px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/arrow-down.png) no-repeat 100% 50%;
}


.search-result-your-selection-input {
  background-color: rgba(255, 0, 0, 0);
  border: 0;
  outline: 0;
}



/*style for tabs*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: right;
	list-style: none;
	height: 40px;
}

ul.tabs li {
	margin: 0;
	cursor: pointer;
	height: 40px;
	background-color: #dfdfdf;
  color: #8dc63f;
	overflow: hidden;
	position: relative;
  padding-top: 10px;
  text-align: center;
  border:0;
}

.tab_last { border-right: 1px solid #333; }

/*ul.tabs li:hover {
	background-color: #ccc;
	color: #333;
}*/

ul.tabs li.active {
	background-color: #183221;
	color: white;
	display: block;
}

.tab_container {
	background: #ebecea;
  padding: 10px;
}

.tab_container2 {
	background: #ffffff;
}

.tab_content {
	display: none;
}

.tab_drawer_heading { display: none; }

ul.tabs img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

ul.tabs li:first-child {
  border-top-left-radius: 5px;
}

ul.tabs li:nth-child(2) {
  border-top-right-radius: 5px;
}

ul.tabs li:not(.active) {
  box-shadow: inset 8px -3px 14px 1px #bbbaba;
}

/*end of style for tabs*/

.tab_container .result-item {
  background-color: white;
  padding: 12px 0 12px 4%;
  margin-top: 10px;
  /*min-width: 565px;*/
}
.tab_container .result-item:first-child {
  margin-top: 0px;
  /*min-width: 565px;*/
}

.result-item-profile-img {
  border-radius: 200px;
  max-width: 105px;
  max-height: 105px;
  box-shadow: 0 0 5px 1px grey;
}
.search-result-name {
  font-size: 24px;
  color: #444444;
  font-weight: 200;
}

.search-result-name span{
  color: #8dc63f;
}

.heart-icon {
  padding-left: 0;
}

.heart-icon img{
  height: 22px;
  width: 100%;
  min-width: 24px;
  max-width: 26px;
  margin-top: 5px;
  padding-left: 0;
}

.active-heart {
  background-color: #ff1f1f !important;
}


.search-result-review-score  {
  margin-top: -10px;
  padding-left: 5%;
  padding-right: 0;
}

.review-score-icon {
  vertical-align: baseline;
}

.number-of-reviews {
  margin-top: -10px;
  margin-left: 15px;
}


.search-item-info img{
  display: inline-block;

}
.search-item-info p{
  display: inline-block;
  color: #274030;
}


.result-item-right-part {
  /*border-left: 1px solid #999999;*/
}
.result-item-right-part .carousel {
    margin-top: 0px;
    padding-bottom: 0px;
    height: 100%;
}

.result-item-right-part .carousel .item img {
  height: auto;
  width: 100%;
}

.result-item-left-part {
  border-right: 1px grey solid;
}

.result-item-right-part .carousel-control.left span, .result-item-right-part .carousel-control.right span {
  background-color: white;
}

.submit-search-filter-button button img{
  /*vertical-align: middle;*/
  margin-left: 5px;
}

.wishlist-send-request-button {
  background-color: #8dc63f;
  color: white;
  font-weight: 300;
  padding: 0;
  height: auto;
  min-height: 45px;
}




.result-item-right-part2 {
  padding-left: 0;
  margin-top: 40px;
}



/*STARTING STYLE FOR HOST PROFILE*/

.host-profile-container {
  padding: 40px 5% 0 5%;
  background-color: #f8f8f8;
}

.return-to-search-result-button {
  color: #8dc63f;
  text-decoration: underline;
}

#host-profile-picture-main {
  height: 155px;
  width: 155px;
  min-height: 155px;
  min-width: 155px;
  border-radius: 500px;
  border: 5px solid white;
  box-shadow: #c0c0c0 0px 0px 3px 2px;
}

.host-profile-location img {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: sub;
}

.host-profile-location p {
  display: inline-block;
}

.host-profile-score {
  font-size: 54px;
  line-height: 0.5;
  margin-top: 10px;
  color: #8dc63f;
  font-weight: 300;
}

.host-profile-review-number {
  color: #cccccc;
}

.host-profile-position img{
  display: inline-block;
  vertical-align: baseline;
}

.host-profile-position p {
  display: inline-block;
}

.host-profile-location img {
  display: inline-block;
  vertical-align: baseline;
}

.host-profile-location p {
  display: inline-block;
}

.host-profile-lang img {
  display: inline-block;
}

.host-profile-about {
  padding-top: 20px;
}

.instagram-slider {
  max-height: 100px;
}

.instagram-slider .carousel-indicators{
  top: -30px;
  left: 95%;
}

/*STYLE FOR ANY POPUP*/
.popup {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    width: 70%;
    height: 500px;
    border: 2px solid rgba(184, 184, 184, 0.2);
    background-color: white;
    z-index: 100000000000000000;
    overflow: hidden;
    padding: 5px 20px 20px 20px;
}

.cancel {
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    padding: 5px;
    margin: 5px;
    background-color:red;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:white;
    border-radius:3px;
    z-index:100000000000000000;
}


/*END OF STYLE*/
.popup-host-photos {
  height: 450px;
}

.connected-Smedia-icons img {
  display: inline-block;
  height: 47px;
  width: 47px;
  margin-right: 15px;
}

.host-photos-header-text {
  color: #555555;
}

.host-photos {
  background-color: #ffffff;
  max-height: 250px;
  overflow: hidden;
  box-shadow: #d7d7d7 0 0 20px 1px;
  border: 5px solid #ffffff;
}

.host-profile-own-photos {
  height: 115px;
  text-align: center;

}
.host-profile-guest-photos {
  height: 115px;
  text-align: center;
  margin-top: 10px;
}
.host-profile-own-photos img {
  height: 100%;
  width: auto;
}
.host-profile-guest-photos img {
  height: 100%;
  width: auto;
}

.host-profile-own-photos-transparent-cover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  height: 30px;
  width: 100%;
  text-align: left;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 13px;
  bottom: 0;
}

.height-100-percent {
  height: 100%;
}

.host-profile-carousel {
  height: 210px;
  margin-top: 0;
}

.instagram-photos-carousel {
  height: 100px;
  text-align: center;
}

#carousel-z {
  margin-top: 0px;
  width: 100%;
}

.slideshow-item-instagram {
  height: 100px;
  padding: 0 1% !important;
  width: 19.2%;
  display: inline-block;
}

.slideshow-item-instagram img {
  border-radius: 6px;
}

.width-100-percent {
  width: 100%;
}

.zero-padding {
    padding: 0;
}

.slideshow-item2 img {
  height: 100%;
}

.height240px {
  height: 235px;
}

.comeat-dark-green {
  color: #183529;
}

.host-profile-properties img {
  display: inline-block;
  margin-right: 3px;
}

.host-profile-property-item {
  margin-right: 10px;
}

.host-profile-property-item1 img{
  height: 28px;
  width: 28px;
}

.host-profile-property-item2 img{
  height: 22px;
  width: 29px;
}

.host-profile-property-item3 img{
  height: 26px;
  width: 36px;
}
.host-profile-property-item3 {
  margin-right: 20px;
}

.host-profile-property-item4 img{
  height: 20px;
  width: 44px;
}

.host-profile-property-item4{
  margin-right: 0px;
}

.host-profile-property-item5 img{
  height: 18px;
  width: 29px;
}
.host-profile-property-item5 {
  margin-right: 0;
}

.host-profile-properties p {
  display: inline-block;
}

.host-profile-hashtag-item {
  border: 1px #555555 solid;
  border-radius: 5px;
  padding: 1px 4px;
  margin: 5px;
}

.send-request-button {
  background-color: #8dc63f;
  color: white;
  width: 100%;
  height: 45px;
  font-weight: 200;
}

.tab_container2_type2 {
  padding: 50px 0 30px 3%;
}

.inline-block-display {
  display: inline-block;
}


.host-profile-review-name {
  display: inline
}

.background-grey {
  background-color: #e4e4e4;
}

.host-profile-review-detail-container {
  padding-left: 10px !important;
}

.margin-top5 {
  margin-top: 5px;
}

.host-profile-review-tab-main-score {
  height: 155px;
  width: 165px;
  background-color: #f3f3f3;
  border: 4px solid #b4d981;
  text-align: center;
}

.host-profile-review-tab-main-score p:first-child{
  font-size: 54px;
  display: block;
  font-weight: 200;
}
.host-profile-review-tab-main-score img{
  display: inline-block;
  width: 26px;
  height: 25px;
  vertical-align: baseline;
}
.host-profile-review-tab-main-score p:nth-child(3){
  display: inline-block;
  font-size: 34px;
  font-weight: 200;
}

.tab_container3 {

  padding: 30px 3% 10px 3% !important;
  border: 1px solid #d8d8d8;
}

.host-profile-reviewer-name-photo img{
  height: 80px;
  width: 80px;
  border-radius: 500px;
  border: 2px solid white;
  box-shadow: #c0c0c0 0px 0px 3px 2px;

}

.host-profile-reviewers-list {
  background-color: #eeeeee;
  padding: 15px !important;
  /*height: 20px;*/
}
.host-profile-reviewers-list>div {
  background-color: #ffffff;
  padding: 15px;
}


.host-profile-reviewer-name-photo{
  text-align: center;
}

.host-profile-reviewer-scrote-and-detail  {

}

.host-profile-reviewer {
  margin-top: 20px;
}

.host-profile-reviewer:first-child {
  margin-top: 0;
}
.dark-grey {
  color: #777777;
}

.tab1-host-review {
  padding-top: 40px !important;
  padding-bottom: 20px !important;
}

.glyphicon-chevron-left img{
  position: absolute;
  left: 0;

}

.glyphicon-chevron-right img{
  position: absolute;
  right: 0;
}

.carousel-control  {
  color: rgba(255, 0, 0, 0); !important;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) !important;
}

.carousel-control:hover  {
  color: rgba(255, 0, 0, 0); !important;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) !important;
}
.carousel-control:focus  {
  color: rgba(255, 0, 0, 0); !important;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) !important;
}
.carousel-control:active  {
  color: rgba(255, 0, 0, 0); !important;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) !important;
}

#right-arrow-icon-of-request-button {
  /*vertical-align: initial;*/
  margin-left: 5px;
  height: 13px;
  width: 8px;
}

.border-right-and-padding-10 {
  border-right: 1px #d4d4d4 solid;
  padding-right: 5%;
}

.vertical-alignment-super {
  vertical-align: super;
}

.padding-left5-percent {
  padding-left: 3%;
}

.line-height3 {
  line-height: 3;
}

.floatright {
  float: right;
}


.comeat-faces-green {
  margin-top: -38px;
  overflow: hidden;

}

a:hover {
  text-decoration: none;
}

.text-of-review-type {
  vertical-align: bottom;
  padding-right: 2%;
}

.score-of-review-type {
  vertical-align: bottom;
  padding-left: 5%;
}

.text-align-center {
  text-align: center;
}


.booking-request-header-text {
  padding-left: 10px;
}

.booking-request-insert-text {
  padding: 10px 20px !important;
  height: 260px;
}

.insert-dietary-request {
  padding-left: 10px !important;
}


.submit-request-booking {
  background-color: #8dc63f;
  color: white;
}

.cancel-request-booking {
  background-color: white;
  color: black;
  border: 1px solid #8dc63f;
  margin-left: 30px;
}


/*STARTING STYLE FOR GUEST MESSAGE*/


.price-icon-container {
  width: 100%;
  text-align: center;
}

.price-text-container {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.price-text-container>p, .price-text-container>div {
  display: inline-block;
}

.guest-message-container {
  background-color: #f8f8f8;
}

.message-of-guest-container {
  background-color: white;
  padding: 20px !important;
  border: 1px solid #8dc63f;
  /*height: 600px;*/
  border-radius: 2px;
  overflow: hidden;
}

.search-message {
  border: 1px solid #dedede;
  height: 50px;
  padding-left: 20px !important;
  background: url(../images/search-icon-grey.png) 95% 49% no-repeat;
}

.message-item {
  padding: 15px !important;
  border: 1px solid #dedede;
  max-height: 105px;
  font-weight: 300px;
  overflow: hidden;
}


.message-profile-container {
  width: 75px;
  height: 75px;
  border: 3px solid white;
  box-shadow: rgba(128, 128, 128, 0.22) 0 0 10px 3px;
  border-radius: 500px;
}

.activeness-indicator {
  background-color: grey;
  width: 15px;
  height: 15px;
  box-shadow: rgba(128, 128, 128, 0.22) 0 0 10px 3px;
  border: 2px solid white;
  position: absolute;
  top: 16px;
  left: 68px;
  border-radius: 500px;
}

.date-icon-on-message-item {
  height: 22px;
  width: 23px;
}


.person-icon-on-message-item {
  height: 24px;
  width: 21px;
}


.unread-message-background {
  background-color: #f3f3f3 !important;
}

.unread-message-background .message-content {
    color: black;
}

.selected-message-background, .selected-message-background .message-content {
  background-color: #274030 !important;
  color: white !important;
}
.selected-message-background .name-of-sender, .selected-message-background .new-message {
  color: #8dc63f !important;
}


.message-content {
  color: #9c9c9c;
  font-weight: 600;
}

.active-person-online {
  background-color: #8dc63f;
}

.size12 {
  font-size: 12px;
}

.message-item .profile-picture-of-message-container {
  width: 18%;
  display: inline-grid;
}

.message-item .text-container {
  width: 50%;
  display: inline-block;
  padding: 0 5px;
}

.message-item .date-and-people-container {
  width: 28%;
  display: inline-block;
}

.open-message-container {
  border: 1px solid #8bc43d;
  margin-top: 40px;
  border-radius: 3px;
  margin-left: 10px;
  border-radius: 5px;
  overflow: hidden;
}


.margin-left10 {
  margin-left: 30px;
}

.open-message-header {
  background-color: #f3f3f3;
  padding: 10px !important;
  overflow: visible;
  max-height: 60px;
  border-radius: 5px;
  border-bottom: 1px solid #e4e4e4;
}

.open-message-header button:first-child {
  background-color: #8bc43d;
  color: white;
  height: 38px !important;
}

.open-message-header>div {
  text-align: center;
  color: black;
}

.open-message-header img {
  width: 40px;
  float: right;
  cursor: pointer;
  top: 15px;
}

.open-message-sender-activeness {
  width: 13px;
  height: 13px;
  background-color: b0b0b0;
  border: 2px solid white;
  box-shadow: #dedede 0 0 2px 2px;
  display: inline-block;
  border-radius: 500px;
}

.active-messenger-user {
  background-color: #8dc63f !important;
}


.drop-report-items {
  position: absolute;
  background-color: #ffffff;
  top: 45px;
  right: 10px;
  box-shadow: 0px 0px 5px 1px rgba(113, 113, 113, 0.16);
  padding: 10px 15px 0px 15px ;
  width: 150px;
  z-index: 9999;
}

.drop-report-items a:hover {
}

.drop-report-items ul li{
  padding-bottom: 5px;
  font-weight: 400;
  color: #727272;
  padding-left: 5px;
}

.open-message-main {
  background-color: #fdfdfd;
  padding: 5px 15px !important;
  overflow-y: scroll;
  max-height: 455px;
}




.first-party .photo-of-sender-container {
  width: 14%;
  vertical-align: top;
}

.open-message-main .first-party .photo-of-sender {
  height: 47px;
  width: 47px;
  border-radius: 500px;
  box-shadow: rgba(138, 138, 138, 0.32) 0 0 5px 2px;
  border: 2px solid white;
  border-radius: 500px;
  float: right;
}

.first-party .open-message-a-textbox-actual-text {
  width: 60%;
  position: relative;
  right: -28%;
}

 .first-party .open-message-a-textbox-actual-text p:nth-child(3){
  background-color: #274030;
  padding: 10px;
  border-radius: 5px;
  margin-top: -10px;
  border: 1px solid #274030;
  color: white;
}

.first-party>a {
  position: relative;
  left: 25%;
}

 .first-party .open-message-a-textbox-actual-text p:first-child{
   text-align: right;
}

.first-party .this-shit-is-annoying {
  width: 0;
    height: 0;
    border-left: 5px solid #274030;
    border-top: 5px solid rgba(0,0,0,0);
    border-bottom: 5px solid rgba(0,0,0,0);
    position: relative;
    top: 0px;
    right: -5px;
    float: right;

}

.second-party .photo-of-sender-container {
  width: 14%;
  vertical-align: top;
}

.open-message-main .second-party .photo-of-sender {
  height: 47px;
  width: 47px;
  border-radius: 500px;
  box-shadow: rgba(138, 138, 138, 0.32) 0 0 5px 2px;
  border: 2px solid white;
  border-radius: 500px;
}

.second-party .open-message-a-textbox-actual-text {
  width: 60%;
  position: relative;
  left: -3%;
}

 .second-party .open-message-a-textbox-actual-text p:nth-child(3){
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
  margin-top: -20px;
  border: 1px solid #dcdcdc;
}

.second-party .this-shit-is-annoying {
  width: 0;
  height: 0;
  border-right: 5px solid #dcdcdc;
  position: relative;
  border-top: 5px solid rgba(0,0,0,0);
  border-bottom: 5px solid rgba(0,0,0,0);
  top: 0px;
  left: -5px;
}

.insert-input-to-send-container {
  padding: 10px 20px !important;
  background-color: #fdfdfd;
  border-radius: 5px;
}


.insert-input-to-send {
  box-shadow: rgba(163, 163, 163, 0.5) 0 0 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 60px;
}

.insert-input-to-send input[type="text"] {
  border: 0;
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #a0a0a0;
  height: 100%;
  font-size: 18px;
}

.insert-input-to-send>div {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  height: 100%;
  padding: 15px;
    text-align: center;
}

.insert-input-to-send>div img{
width: 27px;
height: 27px;
}

.insert-input-to-send button {
  height: 100%;
  background-color: #8dc63f;
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid #8dc63f;
  color: white;
  text-align: center;

}
.insert-input-to-send button img {
  width: 30px;
  height: 25px;
}

.make-it-scroll {
  height: 460px;
  overflow-y: scroll;
}

div.invitation-on-open-message {
  position: absolute;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.5);
  padding: 150px 5% !important;
  text-align: center;
}

.the-weird-background {
  border-top: 150px solid #b8b8b8;
  border-bottom: 150px solid #c0c0c0;
  border-right: 200px solid #cecece;
  border-left: 200px solid #c0c0c0;
}

.content-on-weird-background {
  position: relative;
  top: -270px;
  text-align: center;
  padding: 0 5% !important;
}

.invitation-accept-or-cancel button:first-child {
  height: 45px;
  background-color: #8dc63f;
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
}
.invitation-accept-or-cancel button:nth-child(2) {
    height: 45px;
    background-color: white;
    color: #91c700;
    border: 1px solid #91c700;
    /* border: 0; */
    border-radius: 5px;
    font-size: 18px;
}
