.report-user-messages-popup {
  width: 500px !important;
  height: 530px !important;
  padding: 30px 60px;
  text-align: left;
}
.report-user-messages-popup ul li {
  text-align: left;
}

.report-user-messages-popup>div {
  text-align: left;
}

.report-user-messages-popup ul li p {
    margin-left: 10px;
}
.report-user-messages-popup textarea {
  width: 100%;
  background-color: #eaeaea;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 18px;
  border-color: #aaaaaa;
}

.report-button {
  width: 47%;
  height: 40px !important;
}

.report-button2 {
  width: 47%;
  margin-left: 5%;
  height: 40px !important;
  background-color: white;
  border: 1px solid #8dc63f;
  color: #6a6a6a;
}

.line-height {
  line-height: 0.9;
}

.card-number-input {
  width: 100%;
  background: url(../images/card-icon.png) no-repeat 4% 50%;
  padding-left: 15%;
}

.bank-detail-inner-left {
  width: 48%;
  display: inline-block;
  margin-top: 15px;
}

.bank-detail-inner-left input, .bank-detail-inner-right input {
  width: 100%;
  padding-left: 7%;
  background-color: white;
}

.bank-detail-inner-right {
  width: 48%;
  margin-left: 3%;
  display: inline-block;
  margin-top: 15px;
}

.bank-detail-inner-right input {
  background: url(../images/lock-icon.png) no-repeat 7% 45%;
  padding-left: 20%;
}
.bank-detail-inner-left input {
  background: url(../images/date-grey.png) no-repeat 7% 45%;
  padding-left: 25%;
}

.report-user-messages-popup {
  height: 530px !important;
  padding: 20px 60px;
}

.invite-popup {
  padding: 0;
  width: 620px;
  height: 365px;
}

.invitation-on-open-message {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.5);
  /* padding: 150px 5% !important; */
  text-align: center;
}

.the-weird-background2 {
  border-top: 180px solid #b8b8b8;
    border-bottom: 180px solid #c0c0c0;
    border-right: 300px solid #cecece;
    border-left: 300px solid #c0c0c0;
}

.invite-button-invite-popup {
  width: 175px;
  height: 45px;
  background-color: #8dc63f;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}

.squares-for-popup {
  height: 125px;
  width: 140px;
  border-radius: 5px;
  background-color: white;
  display: inline-block;
  border: white 3px solid;
  margin: 0 15px;
  font-size: 33px;
  color: #8dc63f;
  font-weight: 200;
}
.squares-for-popup:nth-child(3) {
  background-color: #8dc63f;
  color: white;
}

.squares-for-popup img {
  height: 28px;
  width: 28px;
  float: inherit;
  margin-top: 10px;
}

.squares-for-popup p {
  line-height: 0.8;
}

.content-on-weird-background2 {
  position: relative;
  top: -325px;
  text-align: center;
  padding: 0 5% !important;
}

.booking-request-friends-icon {
  padding: 7px !important;
  margin-top: 10px;
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.booking-request-friends-input {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: 0;
}

.insert-dietary-request {
  background: url(../images/card-icon.png) no-repeat 4% 50%;
}

.dietry-request-icon img {
  padding: 7px !important;
  margin-top: 10px;
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
