body {
    text-align: center;
}

#winner-msg {
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  height: 100%;
  font-family: sans-serif;
  padding-top: 100px;
}

.msg-container {
  background-color: #ffffffe0;
  /* height: 200px; */
  width: 200px;
  margin: 0 auto;
  padding: 50px 100px;

}
